# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

In [30]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 00B0-FDD0

 Directory of C:\Users\G-Osundwa\Documents\dummy\lambda_lab\dsc-lambda-functions-lab

09/07/2025  19:39    <DIR>          .
09/07/2025  16:43    <DIR>          ..
09/07/2025  16:37    <DIR>          .github
09/07/2025  16:37                66 .gitignore
09/07/2025  16:39    <DIR>          .ipynb_checkpoints
09/07/2025  16:37                96 .learn
09/07/2025  16:37             1,846 CONTRIBUTING.md
09/07/2025  16:37    <DIR>          env
09/07/2025  16:37    <DIR>          images
09/07/2025  19:39            34,944 index.ipynb
09/07/2025  16:37             1,354 LICENSE.md
09/07/2025  16:37             2,250 README.md
09/07/2025  16:37             4,857 splitter.py
09/07/2025  16:37         1,341,301 Yelp_Reviews.csv
               8 File(s)      1,386,714 bytes
               6 Dir(s)  89,508,458,496 bytes free

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [2]:
# Your code here

# Your code here
df['stars_squared'] = df['stars'].map(lambda x: x**2)


df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25

## Dates
Select the month from the date string using a lambda function.

In [12]:
# Your code here
df['month'] = df['date'].map(lambda x: x.split('-') [1])
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,month
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,11
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,10
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,09
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,02
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,06

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [17]:
# Your code here
avg_words = df['text'].apply(lambda x: len(str(x).split())).mean()
avg_words

77.06551724137931

## Create a new column for the number of words in the review

In [19]:
# Your code here
df['avg_words'] = df['text'].apply(lambda x: len(str(x).split()))

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,month,avg_words
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,11,58
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,10,30
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,09,30
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,02,82
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,06,32
...,...,...,...,...,...,...,...,...,...,...,...,...
689,BTcY04QFiS1uh-RpkR7rAg,1,2013-06-02,0,6_A58CCY8SHB7r-Wu7-A5g,5,Came here with my 2 year old daughter for our ...,2,q3AiAe-AcpDrNsdZf8nCvQ,25,06,61
4874,t0T_4MM4EUHbCzBTF11FHA,0,2016-08-14,0,KqQwNyfoFiJOw911mrULIg,5,Great little restaurant. Not to many tables an...,0,NJxaA7q9BhqaDrFpfR2Jeg,25,08,43
564,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJkxoIBl8XH8wVsPZpnw,5,Always great friendly service and fresh baked ...,0,kBNFdviedCPFWyR-wVaAzw,25,06,79
3458,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwiEG_KCpDB6aK5fTSM7iw,2,We were expecting amazing Thai food after all ...,1,PkRFSQgSfca9Tamq7b2LdQ,4,10,185
4206,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,0,ic9zIsm7zoxUm3Axyegx8g,1,08,42

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [20]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = None

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [22]:
# Your code here
df['date'].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [29]:
# Your code here
df['date'] = df['date'].apply(lambda x: '-'.join(x.split('-')[::-1]))

df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,month,avg_words,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,13-11-2012,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,11,58,None
2,jtQARsP6P-LbkyjbO1qNGg,1,23-10-2014,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,10,30,None
4,Ums3gaP2qM3W1XcA5r6SsQ,0,05-09-2014,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,09,30,None
5,vgfcTvK81oD4r50NMjU2Ag,0,25-02-2011,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,02,82,None
10,yFumR3CWzpfvTH2FCthvVw,0,15-06-2016,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,06,32,None

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.